*{
    margin: 0;
    padding: 0;
}
.allInformation{
    position: relative;

    overflow: hidden;
}
.photos .upload{
    width: 20px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 65px;
}
.container{
    width: 70%;
    margin: auto;

    overflow: hidden;
}
.photos img{
    width: 50px;
    display: block;
    width: 100%;
    transition: 0.3s;
}
.photos img:hover{

    opacity: 0.8;


}
.photos{
    float: left;
    width: 150px;

}
.productSlider{

    float: left;
    width: calc(60% - 150px);
    position: relative;
}
.productInformation{
    float: left;

    opacity: 1;
    width: 40%;
}
.productSlider img{
    width: 100%;
}
.like{
    width: 30px;
}
.productInformation h2{
    width: 90%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    margin-top: 40px;
    font-size: 40px;
}
.productInformation h3{
    font-size:  30px;
    font-family: 'Open Sans', sans-serif;
    margin: 28px;
}
.productInformation p{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-top: 28px;
    margin-left: 28px;
    margin-right: 26px;
    width: 70%;

}
.productInformation .size{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    width: 15%;
    display: inline-block;
}
.productInformation .divSizeInput .sizeInput{
    display: inline-block;

}
.divSizeInput{

    display: inline-block;
    position: relative;
}
.divSizeInput img{
    width: 10px;

    position: absolute;
    transform: rotate(90deg);
    background-color: brown;
    right: 0;
}
/* .productInformation a{
    display: block;
} */
.addLike{
    display: block;
}
.buttons{
    height: 50px;
    position: absolute;
    width: 100%;

    height: 100%;

}
.buttons img{
    width: 50px;
    height: 100%;
    opacity: 0.3;
    transition: 0.3s;
}
.buttons img:hover{
    opacity: 1;
}
.rightButton{
    float: right;
    display: inline-block;
    height: 100%;
}
.buttons .leftButton{
    transform: rotate(180deg);
    display: inline-block;

    height: 100%;
}

label img{
    width: 40px;
    position: absolute;
    left: 15px;
    top: 15px;
    top: 0;
}
.red{
    opacity: 0;
}
#check:checked~label .red::before{
    opacity: 1;
}
#check:checked~label .black{
    opacity: 0;
}
label{
    height: 50px;
    width: 50px;
    display: inline-block;
    position: relative;
}


#check{
    opacity: 1;
}
.add{
    width:  calc(36% + 3px);
    background-color: black;
    color: white;
    padding: 20px 30px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-left: 32px;
    margin-top: 28px;
    border-radius: 30px;
    transition: 0.3s;
}
.add:hover{
    background: #333333;
}
.label{
    display: inline-block;
    width: 400px;
    background-color: blue;
}
.like{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: white;

}
.like img:first-child{
    filter: invert(100%);
}
select{
    border: 1px solid black;
    display: inline-block;
    height: 23px;
    width: 230%;
    left: 0;
    margin-bottom: 20px;
}

